<body>
  <div class="container">
    <div class="header">
      <h2>Evaluation</h2>
      <div class="quick-links">
        <a routerLink="/person-details/academics" class="link">Academics</a>
        <span class="slash"></span>
        <a *ngIf="session != null" [routerLink]="['/person-details', 'academics', 'course-list', session.reference_id]" class="link">{{session.ref_name}}</a>
        <span class="slash"></span>
        <a [routerLink]="['/person-details', 'academics', 'course-features', sallot_id]" class="link" *ngIf="courseTitle != null">{{courseTitle}}</a>
        <span class="slash"></span>
          <a class="link">Evaluation</a>
      </div>
    </div>
    <section class="student__details">

      <div class="student__details__header">
        <h3 class="details__title">Student Details</h3>
        <mat-form-field class="form-field-dropdown">
          <mat-label>Select</mat-label>
          <mat-select [(ngModel)]="selectedChoice" >
            <mat-option *ngFor="let c of evaluationList" [value]="c">{{c}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedChoice == 'Assessment'" class="form-field-dropdown">
          <mat-label>Assessment</mat-label>
          <mat-select [(ngModel)]="assess_num" (ngModelChange)="onAssessSelect()" >
            <mat-option *ngFor="let a of assessList" [value]="a">{{a}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedChoice == 'Assignment'" class="form-field-dropdown">
          <mat-label>Assignment</mat-label>
          <mat-select [(ngModel)]="assign_num" (ngModelChange)="onAssignSelect()" >
            <mat-option *ngFor="let a of assignList" [value]="a">{{a}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="search-div">
          <input type="text" class="search__students" [(ngModel)]="searchText" placeholder="Enter Register Number">
          <button class="search-button"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="student__details__content" *ngIf="assess_num != null || assign_num != null">
        <div class="content__header">
          <div class="col-1-of-3">
            <h5 class="header__label">Register Number</h5>
          </div>
          <div class="col-1-of-3">
            <h5 class="header__label label__name">Name</h5>
          </div>
          <div class="col-1-of-3">
            <h5 class="header__label">Evaluated</h5>
          </div>
        </div>
        <div class="content__details" *ngIf="students != null">
          <div class="row" *ngFor="let s of students | filter: searchText; let i=index ">
            <div class="col-1-of-3">
              <a *ngIf="selectedChoice == 'Assessment'" [routerLink]="['/person-details', 'academics', 'evaluation', assess_num, sallot_id, s.reg_no]" class="reg_no">{{s.student.reg_no}}</a>
              <a *ngIf="selectedChoice == 'Assignment'" [routerLink]="['/person-details', 'academics', 'assignment-evaluation', assign_num, sallot_id, s.reg_no]" class="reg_no">{{s.student.reg_no}}</a>
            </div>
            <div class="col-1-of-3">
              <p class="name">{{s.student.name}}</p>
            </div>
            <div class="col-1-of-3">
              <i *ngIf="!s.evaluated" class="fas fa-minus-circle"></i>
              <i *ngIf="s.evaluated" class="fas fa-check-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
