<div class="flex-c lp-main">
  <header>
    <h1>Lesson plan - 2020</h1>
    <div class="quick-links">
      <a routerLink="/person-details/academics" class="link">Academics</a>
      <span class="slash"></span>
      <a *ngIf="session != null" [routerLink]="['/person-details', 'academics', 'course-list', session.reference_id]" class="link">{{session.ref_name}}</a>
      <span class="slash"></span>
      <a [routerLink]="['/person-details', 'academics', 'course-features', sallot_id]" class="link" *ngIf="courseTitle != null">{{courseTitle}}</a>
      <span class="slash"></span>
        <a class="link" [routerLink]="['/person-details', 'academics', 'lesson-plan', sallot_id]">Lesson Plan</a>
    </div>
    </header>
  <div class="flex-r lp-title">
      <div class="flex-c lp-name">
          <h2>{{courseTitle}}</h2>
          <span>{{courseCode}}- Lesson Plan</span>
      </div>

  </div>
  <mat-form-field style="width: 250px" class="form-field-dropdown" appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" (ngModelChange)="onDateSelect($event)" [(ngModel)]="lessonPlan.actual_date">
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="grid lp-wrap">
      <div class="flex-c lp-period-cont">
          <h3>Periods</h3>
          <multi-select
              [placeholder]="'Select Periods'"
              [options]="periods"
              [disabled]="selectedPeriods"
              [(selectModel)]="selectedPeriods"
              (selectModelChange)="onPeriodChange($event)">
          </multi-select>
          <div class="selected-values">
              <b>Selected Periods : </b>
              <div class="flex-c pr-list">
                  <div class="flex-r" *ngFor="let p of selectedPeriods">
                      <span class="lp-pr-t">Period {{p}}</span>
                      <span class="delete-icon" title="Delete Period" (click)="deletePeriod(p)"></span>
                  </div>
              </div>
          </div>

      </div>
      <div class="flex-c lp-unit-cont">
          <div class="lp-period" *ngFor="let p of lessonPlanPeriods">
              <div class="flex-r lp-unit-title">
                  <h3>Period - {{p.period}}</h3>
                  <span class="delete-icon" title="Delete Period" (click)="deletePeriod(p.period)"></span>
              </div>
              <div class="flex-r lp-unit-wrap">
                  <div class="flex-c lp-unit">
                      <multi-select
                          [placeholder]="'Select Units'"
                          [options]="units"
                          [disabled]="p.selectedUnits"
                          [(selectModel)]="p.selectedUnits">
                      </multi-select>
                      <div class="selected-values">
                          <b>Selected Units : </b>
                          <div class="flex-c lp-unit-list">
                              <div class="flex-r" *ngFor="let u of p.selectedUnits">
                                  <span>Unit {{u}}</span>
                                  <span class="delete-icon" title="Delete Unit"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="flex-c lp-topic">
                      <multi-select
                          [placeholder]="'Select Topics'"
                          [options]="getTopics(p.selectedUnits)"
                          [disabled]="p.selectedTopics"
                          [(selectModel)]="p.selectedTopics"
                          [display_key]="'topic'"
                          [output_key]="'ctopic_id'"
                          (selectModelChange)="onTopicChange($event, p.selectedTopics, p)">
                      </multi-select>
                      <div class="selected-values">
                          <b>Selected Topics : </b>
                          <div class="flex-c lp-unit-list lp-topic-list">
                              <div class="flex-r" *ngFor="let t of p.references">
                                  <span class="flex-c lp-tp">
                                      <span style="font-weight: 600; font-size: 1.1em;">{{t.topic}}</span>
                                      <span class="flex-r">
                                          <p>References : </p>
                                          <input
                                              type="text"
                                              class="lp-ref-text"
                                              placeholder="Topic Reference"
                                              required
                                              [(ngModel)]="t.reference">
                                      </span>
                                  </span>
                                  <span class="delete-icon" title="Delete Topic" (click)="deleteTopic(p, t.ctopic_id)"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <button class="lp-button lp-lrg-button add-class" (click)="addClass()"> + Save Changes</button>
      </div>
  </div>
</div>
