.quest-marks{
  font-size: 0.85em;
  padding: 0.3em 0.6em;
  margin-top: 0.5em;
  margin-left: 0.75em;
  border: 1px solid #d1d1d1;
  width: 5em;
  outline: none;
  font-weight: 600;
}
.quest-marks:focus{
  box-shadow: 0 0 2px 1px #3e81ff;
}
.co-numbers {
  padding-left: 50px;

}
table {
  width: 100%;
}
table, th, td {
  border: 1px solid black;
}
th,td {
  text-align: center;
}
