<body>
  <header>
    <h1>Lesson plan - 2020</h1>
    <div class="quick-links">
      <a routerLink="/person-details/academics" class="link">Academics</a>
      <span class="slash"></span>
      <a *ngIf="session != null" [routerLink]="['/person-details', 'academics', 'course-list', session.reference_id]" class="link">{{session.ref_name}}</a>
      <span class="slash"></span>
      <a [routerLink]="['/person-details', 'academics', 'course-features', sallot_id]" class="link" *ngIf="courseTitle != null">{{courseTitle}}</a>
      <span class="slash"></span>
        <a class="link">Lesson Plan</a>
    </div>
    <hr>
    <div class="header-wrapper">
        <div class="header-contents">
            <h2>Faculty Name</h2>
            <h3 *ngIf="Prefix != null && personName != null">{{Prefix}} {{personName}}</h3>
        </div>
        <div class="header-contents">
            <h2>Designation</h2>
            <h3>Teaching Fellow</h3>
        </div>
        <div class="header-contents">
            <h2>Subject</h2>
            <h3 *ngIf="courseCode != null && courseTitle != null"> {{courseCode}} - {{courseTitle}}</h3>
        </div>
    </div>
  </header>
  <h2>Topics Covered</h2>
  <main>
    <table class="plan-table">
      <thead>
        <th>Date</th>
        <th>Hours</th>
        <th>Topic</th>
        <th class="icon-td">&nbsp;</th>
      </thead>
    <tbody>
      <tr *ngFor="let l of lessonPlanGroup">
        <td class="content" >{{l.actual_date | date}}</td>
        <td class="content" >{{l.hours}}</td>
        <td class="content" ><span *ngFor="let t of l.topics; let i = index">{{t}} <span *ngIf="i != l.topics.length-1">,</span></span></td>
        <td><span class="icon edit-icon" (click)="onEditClass(l.actual_date)"></span></td>
      </tr>
    </tbody>
    </table>
    <button class="add-class-button" (click)="onAddClass()" id="add">+ Add Class</button>
  </main><br>
  <button mat-raised-button (click)="generatePDF()">Generate PDF</button><br>
  <button class="add-class-button" [routerLink]="['/person-details','academics', 'attendence', sallot_id]" id="add">+ Add Attendence</button>


</body>
